// SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
// SPDX-License-Identifier: CC0-1.0

.jumbotron {
  background-color: hsl(200, 68%, 90%);
  color: hsla(200, 67.5%, 20%, 1.0);
  padding: 2rem 0;
  margin-bottom: 2rem;
}

@media (prefers-color-scheme: dark) {
  .jumbotron {
    background-color: rgba(61, 174, 233, 0.1);
    color: white;
  }
}

.content-width {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .content-width {
    max-width: 540px;
    padding: 1em;
  }
}

.page-header {
  font-weight: 700;
  margin-top: 1rem;
}

img {
  max-width: 100%;
}
